<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">

        <header class="main-header">
            @Html.Partial("_NavBar")

        </header>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <br /><br /><br />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (IsSectionDefined("styles"))
    {@RenderSection("styles", required: false)}
    @if (IsSectionDefined("BodyArea"))
    {@RenderSection("BodyArea", required: false)}
</body>
</html>
